.animate
  -webkit-animation-fill-mode: none
.dashboard_graph .x_title h3
  margin-left: 10px
blockquote
  padding: 30px 20px
  background: rgba(26, 187, 156, 0.02)
  border-left: 5px solid #E74C3C
.btn.btn-md
  font-size: 12px
.panel-success > .panel-heading
  background-color: #26b99a
  color: #ffffff
  .panel-title
    color: #fff
    font-weight: bold
.panel
  .panel-heading
    padding: 15px
  .panel-footer
    .btn
      margin: 0
.fa-plus-circle:before
  padding-right: 5px
.table
  margin-top: 20px
h1
  font-size: 24px
.panel-title
  font-weight: bold
field-error
  color: #ff0000
.form-group
  tooltip
    right: -15px
    float: right
    position: absolute
    margin-top: 8px
.hint
  font-size: 18px
  color: #26b99a
select
  color: #999999
  option
    color: #000
  option.text-muted
    color: #999999

.greenTip
  background: #71bfb5
  width: 300px
  tip-arrow
    border-top-color: #71bfb5 !important

.thumb
  width: 100px
  margin-bottom: 5px
  float: left

.wizard_horizontal ul.wizard_steps li a .step_no
  background: #ccc

.wizard_horizontal ul.wizard_steps li a.selected .step_no,
.wizard_horizontal ul.wizard_steps li a.selected:before
  background: #26b99a

.m-l-sm
  margin-left: 10px

.has-error
  border: 1px solid #ff0000

.green
  color: #15af8e

.noMargin
  margin: 0

.panelIcons
  float: right
  margin-top: -16px
  a
    font-size: 20px
    margin-left: 5px
    vertical-align: top
    display: inline-block
    cursor: pointer
    &.fa-edit
      padding-top: 1px
    &:hover
      color: #26b99a
.panel-primary
  .panelIcons
    a
      color: #fff
.panel-default
  .panelIcons
    a
      color: #5A738E
.background-green
  background-color: rgba(203, 218, 215, 0.12)
.marginTop16
  margin-top: 16px
.modal-small-title
  font-size: 18px
.modal-footer.text-center
  text-align: center
.alert-grey
  color: #26b99a
  background-color: rgb(237, 237, 237)
  border-color: rgb(204, 204, 204)
.moveCursor
  cursor: move
.ui-sortable-helper
  .panel
    margin: 0 60px
    opacity: .7
  .panel-default>.panel-heading
    background: #26b99a
    color: #ffffff
  .panelIcons
    display: none
.ui-sortable-line-placeholder
  height: 50px
  border: 2px dotted #e9e9e9
  background: #f9f9f9
  margin-bottom: 20px
.modal-header-green
  background: #26b99a
  color: #fff
  border-top-left-radius: 5px
  border-top-right-radius: 5px

.imageLeft
  float: left
  margin: 0 10px 10px 0
.tableThRight
  th
    text-align: right
    padding-right: 15px !important
    background: #f9f9f9
    line-height: 30px !important

  td
    line-height: 30px !important
    padding-left: 15px !important
img[colorboxable]
  cursor: pointer