/* Прелоудер */
.circle {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #2187e7;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spinPulse 1.5s infinite ease-in-out;
    -webkit-animation:spinPulse 1.5s infinite linear;
}
.circle1 {

    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 15px #2187e7;
    width:30px;
    height:30px;
    margin:10px auto;
    position:relative;
    top:-50px;
    -moz-animation:spinoffPulse 1.5s infinite linear;
    -webkit-animation:spinoffPulse 1.5s infinite linear;
}
@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
/* END Прелоудер */

.product-form .panel-heading{
    cursor: pointer;
}

.display-none{
    display: none;
}

.productGallery .PGItem {
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(143, 190, 214);
    padding: 5px;
    vertical-align: top;
}
.productGallery .PGItemImage {
    width: 90px;
    height: 80px;
    overflow: hidden;
}

.cursor-pointer{
    cursor: pointer;
}

#before-load{
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(255,255, 255, 0.8);
    height: 100%;
    left: 0; /*положение элемента слева*/
    top: 0; /*положение элемента сверху*/
    right: 0; /*положение элемента справа*/
    bottom: 0; /*положение элемента снизу*/
    z-index: 1001; /*располагаем его над всеми элементами на странице*/
}

#before-load span{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -50px;
    margin-top: -50px;
}

#before-load span img{
    width: 100px;
}

.productGallery .productGalleryClose{
    border: 0;
    height: auto;
    position: absolute;
    margin-top: -5px;
    margin-left: 79px;
    background: rgb(232, 232, 232);
    padding: 0 4px;
}

.thumbnailMy{
    height: 130px;
}

.view .tools{
    margin: 60px 0 0 0;
}

.thumbnail .thumbnailMy img{
    max-width: 200px;
    max-height: 200px;
}


.thumbnail.thumbnailMy .view{
    background-size: cover;
}

.floatRight {
    float: right;
}

.nav-md .container.body .right_col.main-no_auth {
    margin-left: 0px;
}

.nav.child_menu.displayBlock{
    display: block;
}


