.modal-header.modal-header-green
    h3.panel-title {{::'ADD_SERVICE'|myTranslate}}
.modal-body
    preloader(ng-if="!addFormCtrl.isLoaded")
    div(ng-if="addFormCtrl.isLoaded")
        form.form-horizontal.form-label-left.product-form(novalidate='')
            p Тут будет какой-то вводный текст
            .ln_solid
            field-group#name(type='select', options='addFormCtrl.getServices()', model='addFormCtrl.model', object='addFormCtrl.firmUserServiceModel', errors='addFormCtrl.errors')
            field-group#other_name(ng-show="addFormCtrl.model.name === '-1'", type='input', model='addFormCtrl.model', object='addFormCtrl.firmUserServiceModel', errors='addFormCtrl.errors')
            .ln_solid
            field-group#description(type='textarea', editor='true', model='addFormCtrl.model', object='addFormCtrl.firmUserServiceModel', errors='addFormCtrl.errors')
.modal-footer.text-center(ng-if="addFormCtrl.isLoaded")
        button.btn.btn-default(ng-click='addFormCtrl.cancel()') {{::'CLOSE_FORM'|myTranslate}}
        button.btn.btn-success(ng-click='addFormCtrl.save()') {{::'SAVE_SERVICE'|myTranslate}}