field-group-input( ng-if="type === 'input'" id="{{id}}" model="model" object="object" errors="errors" name="{{name}}" placeholder="{{placeholder}}" hint="{{hint}}" required="{{required}}")
field-group-image( ng-if="type === 'image'" id="{{id}}" model="model" object="object" errors="errors" name="{{name}}" placeholder="{{placeholder}}" hint="{{hint}}" required="{{required}}")
field-group-textarea( ng-if="type === 'textarea'" editor="editor" id="{{id}}" model="model" object="object" errors="errors" name="{{name}}" placeholder="{{placeholder}}" hint="{{hint}}" required="{{required}}")
field-group-select( ng-if="type === 'select'" options="options" id="{{id}}" model="model" object="object" errors="errors" name="{{name}}" placeholder="{{placeholder}}" hint="{{hint}}" required="{{required}}")
