#wizard.form_wizard.wizard_horizontal
    ul.wizard_steps
        li(ng-repeat="item in steps")
            a(ng-class="{selected: item.id === active}")
                span.step_no {{$index+1}}
                span.step_descr
                    | {{::item.name|myTranslate}}
                    br
                    small {{::item.description|myTranslate}}