.x_panel.animate.bounceInLeft
    preloader(ng-if="!firmAddStep4Ctrl.isLoaded")
    .x_content(ng-if="firmAddStep4Ctrl.isLoaded")
        h1.green {{::'CONFIRM_AND_PUBLIC'|myTranslate}}
        hr
        .panel.panel-primary
            .panel-heading
                h2.panel-title {{::'CONTACT_FIRM'|myTranslate}}
                .panelIcons
                    a.fa.fa-edit(title="{{::'EDIT_FIRM_CONTACT_INFO'|myTranslate}}" ui-sref="firm({id:firmAddStep4Ctrl.firmId, tab: 'contact'})")
            .panel-body
                table.table.table-condensed.tableThRight
                    tr
                        th {{::'FIRM_NAME'|myTranslate}}:
                        td {{::firmAddStep4Ctrl.model.name}}
                    tr
                        th {{::'COUNTRY'|myTranslate}}:
                        td {{::firmAddStep4Ctrl.model.country.name}}
                    tr
                        th {{::'CITY'|myTranslate}}:
                        td {{::firmAddStep4Ctrl.model.city.name}}
                    tr
                        th Email:
                        td {{::firmAddStep4Ctrl.model.email}}
                    tr
                        th {{::'PHONE'|myTranslate}}:
                        td {{::firmAddStep4Ctrl.model.phone}}
            .panel-footer.text-right
                .btn.btn-default.btn-sm(ui-sref="firm({id:firmAddStep4Ctrl.firmId, tab: 'contact'})") {{::'EDIT_FIRM_CONTACT_INFO'|myTranslate}}
        .panel.panel-primary
            .panel-heading
                h2.panel-title {{::'ABOUT_FIRM'|myTranslate}}
                .panelIcons
                    a.fa.fa-edit(title="{{::'EDIT_INFO_ABOUT_FIRM'|myTranslate}}" ui-sref="firm({id:firmAddStep4Ctrl.firmId, tab: 'contact'})")
            .panel-body
                div
                    img.imageLeft(ng-show="firmAddStep4Ctrl.model.image" ng-src="{{firmAddStep4Ctrl.imageService.getImageSizeUrl(firmAddStep4Ctrl.model.image, 2)}}")
                    div(ng-show="firmAddStep4Ctrl.model.description" ng-bind-html="firmAddStep4Ctrl.model.description")
            .panel-footer.text-right
                .btn.btn-default.btn-sm(ui-sref="firm({id:firmAddStep4Ctrl.firmId, tab: 'about'})") {{::'EDIT_INFO_ABOUT_FIRM'|myTranslate}}
        .panel.panel-primary
            .panel-heading
                h2.panel-title {{::'SERVICES_FIRM'|myTranslate}}
                .panelIcons
                    a.fa.fa-edit(title="{{::'EDIT_INFO_FIRM_SERVICE'|myTranslate}}" ui-sref="firm({id:firmAddStep4Ctrl.firmId, tab: 'services'})")
            .panel-body
                div(ng-repeat="item in firmAddStep4Ctrl.model.services")
                    .panel.panel-default
                        .panel-heading
                            h5.noMargin {{::item.name}}
                            .panelIcons
                                a.fa(title="{{::'MORE_INFO'|myTranslate}}" ng-click="item.show = !item.show" ng-class="{'fa-eye-slash':item.show, 'fa-eye': !item.show }")
                        .panel-body.animate(ng-show="item.show")
                            div(ng-bind-html="item.description")
            .panel-footer.text-right
                .btn.btn-default.btn-sm(title="{{::'EDIT_INFO_FIRM_SERVICE'|myTranslate}}" ui-sref="firm({id:firmAddStep4Ctrl.firmId, tab: 'services'})") {{::'EDIT_INFO_FIRM_SERVICE'|myTranslate}}
        .form-group.text-center
            button.btn.btn-default(ui-sref='firm({id:firmAddStep4Ctrl.firmId, tab: "services"})') {{::'BACK'|myTranslate}}
            button.btn.btn-success(ng-click='firmAddStep4Ctrl.next()') {{::'PUBLISH'|myTranslate}}