.row
    div(ng-if='!firmCtrl.isLoaded', preloader='')
    .col-xs-12(ng-if='firmCtrl.isLoaded')
        .animate.bounceInDown(page-title="{{'ABOUT_COMPANY'}}", not-find='true')
        wizard-step(steps='firmCtrl.steps', active='firmCtrl.tab', haveLink='!!firmCtrl.firmId')
        div(ng-switch="firmCtrl.tab")
            firm-contacts(ng-switch-when="contact")
            firm-about(ng-switch-when="about")
            firm-services(ng-switch-when="services")
            firm-confirm(ng-switch-when="confirm")