.form-group
    label.control-label.col-md-3.col-sm-3.col-xs-12 {{::name|myTranslate}}
        span.red(ng-if="required") *
    div.col-md-6.col-sm-6.col-xs-12
        span.fa.fa-question-circle.hint(ng-if="hint" tooltips tooltip-template="{{::hint|myTranslate}}" aria-hidden="true")
        input(type='file', ngf-select='', ng-class="{'has-error':errors[id]}", ng-model='model[id]', name='file', accept='image/*', ngf-max-size='2MB', required='', ngf-model-invalid='errorFile')
        br
        div(ng-show="imageWithUrl")
            img.thumb.c(id="firm_thumb" ng-show='file.$valid', ngf-thumbnail='imageWithUrl' colorboxable="{href: imageBigWithUrl, opacity: 0.8}")
            button.btn.btn-danger.btn-sm.m-l-sm(ng-click='delete()', ng-show='model[id]', title="{{::'DELETE_IMAGE'|myTranslate}}" ) x
        div.clearfix
        div.progress(ng-show='model[id].progress >= 0 && model[id].progress < 100')
            div(style='width:{{model[id].progress}}%', ng-bind="model[id].progress + '%'")
        i(ng-show='file.$error.maxSize')
            | {{::'FILE_TOO_LARGE'|myTranslate}}
            | {{errorFile.size / 1000000|number:1}}MB: {{::'MAX'|myTranslate}} 2M
        field-error(errors='errors[id]')