.form-group
    label.control-label.col-md-3.col-sm-3.col-xs-12 {{::name|myTranslate}}
        span.red(ng-if="required ") *
    div.col-md-6.col-sm-6.col-xs-12
        span.fa.fa-question-circle.hint(ng-if="hint" tooltips tooltip-template="{{::hint|myTranslate}}" aria-hidden="true")
        select.select2_single.form-control(id='{{id}}', ng-class="{'has-error':errors[id]}", ng-change="onChange(id)", type='text', ng-model='model[id]', tabindex="-1")
            option.text-muted(ng-if="placeholder" value="") {{::placeholder|myTranslate}}
            option(ng-repeat="option in options track by option.id" value="{{option.id}}") {{option.name}}
        field-error(errors='errors[id]')