.x_panel.animate.bounceInLeft
    .x_content
        h1.green {{::'CONTACT_DATA'|myTranslate}}
        form.form-horizontal.form-label-left.product-form.animate.bounceInRight(novalidate='')
            p Тут будет какой-то вводный текст
            .ln_solid
            field-group#name(type='input', model='model', object='firmAddStep1Ctrl.firmsModel', errors='firmAddStep1Ctrl.firmsModel.errors')
            field-group#country_id(type='select', options='firmAddStep1Ctrl.countries', model='model', object='firmAddStep1Ctrl.firmsModel', errors='firmAddStep1Ctrl.firmsModel.errors')
            field-group#city_id(type='select', options='firmAddStep1Ctrl.cities', model='model', object='firmAddStep1Ctrl.firmsModel', errors='firmAddStep1Ctrl.firmsModel.errors')
            .ln_solid
            field-group#email(type='input', model='model', object='firmAddStep1Ctrl.firmsModel', errors='firmAddStep1Ctrl.firmsModel.errors')
            field-group#phone(type='input', model='model', object='firmAddStep1Ctrl.firmsModel', errors='firmAddStep1Ctrl.firmsModel.errors')
            .ln_solid
            .form-group.animate.bounceInLeft.text-center
                button.btn.btn-default(ui-sref='firms') {{::'BACK'|myTranslate}}
                button.btn.btn-success(ng-click='firmAddStep1Ctrl.save()') {{::'SAVE'|myTranslate}}
                button.btn.btn-primary(ng-disabled="firmAddStep1Ctrl.firmsModel.id" ng-click='firmAddStep1Ctrl.next()') {{::'NEXT_STEP'|myTranslate}}