.page-title
    .title_left
        h3 {{::title|myTranslate}}
    .title_right(ng-if="!notFind")
        .pull-right
            span.ui-helper-hidden-accessible(role='status', aria-live='polite')
            input.autocomplete-input.input.tooltip-button.ui-autocomplete-input(style='padding: 5px 16px;', type='text',
            placeholder="{{::'SEARCH'|myTranslate}}...", data-placement='bottom', title='', name='',
            data-original-title="{{::'TYPE_TO_SEE_THE_AVAIBLE'|myTranslate}}...", autocomplete='off')
            i.glyph-icon.icon-search