.form-group(ng-if="!editor")
    label.control-label.col-md-3.col-sm-3.col-xs-12 {{::name|myTranslate}}
        span.red(ng-if="required ") *
    div.col-md-6.col-sm-6.col-xs-12
        span.fa.fa-question-circle.hint(ng-if="hint" tooltips tooltip-template="{{::hint|myTranslate}}" aria-hidden="true")
        textarea.form-control(ng-model="model[id]" ng-change="onChange(id)" ng-class="{'has-error':errors[id]}" rows="3" placeholder='{{::placeholder|myTranslate}}')
        field-error(errors='errors[id]')
.form-group(ng-if="editor")
    label.control-label.col-md-3.col-sm-3.col-xs-12 {{::name|myTranslate}}
        span.red(ng-if="required ") *
    div.col-xs-12.marginTop16
        span.fa.fa-question-circle.hint(ng-if="hint" tooltips tooltip-template="{{::hint|myTranslate}}" aria-hidden="true")
        textarea.form-control(froala="froalaOptions" ng-change="onChange(id)" ng-model="model[id]" rows="10" placeholder='{{::placeholder|myTranslate}}')
        field-error(errors='errors[id]')