.form-group
    label.control-label.col-md-3.col-sm-3.col-xs-12 {{::name|myTranslate}}
        span.red(ng-if="required ") *
    div.col-md-6.col-sm-6.col-xs-12
        input.form-control.col-md-7.col-xs-12( id='id' ng-class="{'has-error':errors[id]}" type='text', ng-model='model[id]', placeholder='{{::placeholder|myTranslate}}' ng-change="onChange(id)")
        span.fa.fa-question-circle.hint(class="{{::fieldGroupCT.styles.hint}}" ng-if="hint" tooltips tooltip-template="{{::hint|myTranslate}}" aria-hidden="true")
        field-error(errors='errors[id]')
