.modal-header
    h3.modal-title.modal-small-title.text-center {{$resolve.item.title}}
.modal-footer.text-center
    button.btn.btn-default.btn-sm(ng-click="$resolve.item.cancelCB()") {{::'CANСEL'|myTranslate}}
    button.btn.btn-danger.btn-sm(ng-click="$resolve.item.deleteCB()") {{::'DELETE'|myTranslate}}