form.margin-bottom-basic
    .form-group.text-center
        grid-pagination.pagination-sm(max-size='10' boundary-links='true' total-items='paginationOptions.totalItems' ng-model='paginationOptions.currentPage' ng-change='reloadGrid()' items-per-page='paginationOptions.itemsPerPage')
