.x_panel.animate.bounceInLeft
    preloader(ng-if="!firmAddStep3Ctrl.isLoaded")
    .x_content(ng-if="firmAddStep3Ctrl.isLoaded")
        h1.green {{::'COMPANY_SERVICES'|myTranslate}}
        p Тут будет какой-то вводный текст
        .ln_solid
        .container(ui-sortable='firmAddStep3Ctrl.sortableOptions', ng-model='firmAddStep3Ctrl.firmUserServicesList')
            .moveCursor(ng-repeat="item in firmAddStep3Ctrl.firmUserServicesList | orderBy: 'order'")
                .panel.panel-default
                    .panel-heading
                        h5.noMargin {{item.name}}
                        .panelIcons
                            a.fa(ng-click="firmAddStep3Ctrl.toggleShow(item)" ng-class="{'fa-eye-slash':item.show, 'fa-eye': !item.show }")
                            a.fa.fa-edit(ng-click="firmAddStep3Ctrl.editForm(item.id)")
                            a.fa.fa-trash(ng-click="firmAddStep3Ctrl.deleteService(item.id, item.name)")
                    .panel-body(ng-show="item.show")
                        div(ng-bind-html="item.description") {{item.description}}
        div(ng-show="!firmAddStep3Ctrl.firmUserServicesList.length" empty-list="{{::'LIST_EMPTY'| myTranslate}}")
        .panel.panel-success.animate(ng-class='{bounceInLeft: firmAddStep3Ctrl.showAddForm, bounceOutLeft: !firmAddStep3Ctrl.showAddForm}' ng-show="firmAddStep3Ctrl.showAddForm")
            .panel-heading
                h3.panel-title {{::'ADD_SERVICE'|myTranslate}}
            .panel-body.background-green
                form.form-horizontal.form-label-left.product-form(novalidate='')
                    p Тут будет какой-то вводный текст
                    div {{firmAddStep3Ctrl.errors}}
                    .ln_solid
                    field-group#name(type='select', options='firmAddStep3Ctrl.getServices()', model='firmAddStep3Ctrl.model', object='firmAddStep3Ctrl.firmUserServiceModel', errors='firmAddStep3Ctrl.errors')
                    field-group#other_name(ng-show="firmAddStep3Ctrl.model.name === '-1'", type='input', model='firmAddStep3Ctrl.model', object='firmAddStep3Ctrl.firmUserServiceModel', errors='firmAddStep3Ctrl.errors')
                    .ln_solid
                    field-group#description(type='textarea', editor='true', model='firmAddStep3Ctrl.model', object='firmAddStep3Ctrl.firmUserServiceModel', errors='firmAddStep3Ctrl.errors')
                    .ln_solid
                .form-group.text-center
                    button.btn.btn-default(ng-show="firmAddStep3Ctrl.showAddForm" ng-click='firmAddStep3Ctrl.closeForm()') {{::'CLOSE_FORM'|myTranslate}}
                    button.btn.btn-success(ng-show="firmAddStep3Ctrl.showAddForm" ng-click='firmAddStep3Ctrl.save()') {{::'SAVE_SERVICE'|myTranslate}}
        .form-group.text-center(ng-show="!firmAddStep3Ctrl.showAddForm")
            .ln_solid
            button.btn.btn-default(ui-sref='firm({id:firmAddStep3Ctrl.firmId, tab: "about"})') {{::'BACK'|myTranslate}}
            button.btn.btn-success(ng-click='firmAddStep3Ctrl.add()') {{::'ADD_SERVICE'|myTranslate}}
            button.btn.btn-primary(ng-disabled="!firmAddStep3Ctrl.firmUserServicesList.length" ng-click='firmAddStep3Ctrl.next()') {{::'NEXT_STEP'|myTranslate}}

