.x_panel.animate.bounceInLeft
    .x_content
        h1.green {{::'ABOUT_COMPANY'|myTranslate}}
        preloader(ng-if="!isLoaded")
        form.form-horizontal.form-label-left.product-form.animate.bounceInRight(novalidate='' ng-if='isLoaded')
            p Тут будет какой-то вводный текст
            .ln_solid
            field-group#image(type='image', model='model', object='firmAddStep2Ctrl.firmsStep2Model', errors='firmAddStep2Ctrl.errors')
            .ln_solid
            field-group#description(type='textarea', editor='true', model='model', object='firmAddStep2Ctrl.firmsStep2Model', errors='firmAddStep2Ctrl.errors')
            .ln_solid
            .form-group.animate.bounceInLeft.text-center
                button.btn.btn-default(ui-sref='firm({id:firmAddStep2Ctrl.firmId, tab: "contact"})') {{::'BACK'|myTranslate}}
                button.btn.btn-success(ng-click='firmAddStep2Ctrl.save()') {{::'SAVE'|myTranslate}}
                button.btn.btn-primary(ui-sref='firm({id:firmAddStep2Ctrl.firmId, tab: "services"})') {{::'NEXT_STEP'|myTranslate}}