.menu_section
    h3 Основное
    ul.nav.side-menu
        li( ng-repeat="item in leftMenuCT.listMenu" ng-class="{active:activeMenu === item.url}")
            a(ng-if="!item.items" ui-sref='{{item.url}}' ng-click="setActiveMenu(item.url)")
                i(class="{{::item.icon}}")
                |  {{::item.title|myTranslate}}
            a(ng-if="item.items" ng-click="setActiveMenu(item.url)")
                i(class="{{::item.icon}}")
                |  {{::item.title|myTranslate}}
                span.fa(ng-class="{'fa-chevron-down':activeMenu !== item.url,'fa-chevron-up':activeMenu === item.url}")
            ul.nav.child_menu(ng-if="item.items" ng-class="{displayBlock:activeMenu === item.url}")
                li(ng-repeat="subItem in item.items")
                    a(ui-sref='{{subItem.url}}') {{::subItem.title|myTranslate}}