<div class="row tile_count animate bounceInDown">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Категорий</span>
        <div class="count">0</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> С последней недели</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Товаров</span>
        <div class="count">0</div>
        <span class="count_bottom"><i class="green">0% </i> С последней недели</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Просмотров</span>
        <div class="count green">0</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> С последней недели</span>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Заказов</span>
        <div class="count">0</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>0% </i> С последней недели</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Обновлений</span>
        <div class="count">0</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> С последней недели</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph animate fadeInRight">
            <div class="row x_title"><h3>Вы успешно авторизовались</h3></div>
        </div>
    </div>
</div>