<div class="login_wrapper">
    <div class="animate form login_form wow bounceInLeft">
        <div ng-show="!loginCtrl.isLoaded" preloader=""></div>
        <h1 class="text-center">Аторизация</h1>
        <section ng-show="loginCtrl.isLoaded" class="login_content">
            <form ng-show="!loginCtrl.userStoragedata.token" class="bounceInRight">
                <div>
                    <input type="text" class="form-control" ng-model="loginCtrl.user.email" placeholder="Email"
                           required=""/>
                </div>
                <div>
                    <input type="password" class="form-control" ng-model="loginCtrl.user.password"
                           placeholder="Password" required=""/>
                </div>
                <div>
                    <a class="btn btn-default submit" href="#" ng-click="loginCtrl.login()">Log in</a>
                </div>
                <div class="clearfix"></div>
            </form>
            <div ng-show="loginCtrl.userStoragedata.token" ng-class="{bounceOutLeft: !loginCtrl.userStoragedata.token}"
                 class="x_panel animate">
                <div class="x_content">
                    <h2>Это вы?</h2>
                    <div class="row">
                        <div class="col-xs-3 text-right">
                            <img ng-src="{{loginCtrl.userService.getAvatar(loginCtrl.userStoragedata.user)}}"/>
                        </div>
                        <div class="col-xs-8 text-left">
                            <h3 class="">{{::loginCtrl.userStoragedata.user.first_name}}
                                {{::loginCtrl.userStoragedata.user.last_name}}</h3>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>
                                <a class="btn btn-success" ng-click="loginCtrl.restoreData()">ДА, это я</a>
                                <a class="btn btn-default" ng-click="loginCtrl.clearData()">НЕТ, это не я</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>