<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-danger animate bounceInTop">
            <div class="panel-heading">
                <h1 class="panel-title">{{::'PERMIT_ERROR'|myTranslate}}</h1>
            </div>
            <div class="panel-body">
                <p>{{::'PERMIT_TEXT'|myTranslate}}<br />{{::'PERMIT_TEXT_2'|myTranslate}}</p>
                <div>
                    <form novalidate ng-if="formOpen">
                        <div class="animate bounceInRight">
                            <field-group title="YOUR_NAME" id="name" model="form.name" errors="errors.name" required="true" ></field-group>
                            <field-group title="YOUR_PHONE" id="phone" model="form.phone" errors="errors.phone" required="true" ></field-group>
                            <field-group title="YOUR_EMAIL" id="email" model="form.email" errors="errors.email" ></field-group>
                            <div class="form-group">
                                <label for="message">{{::'YOUR_MESSAGE'|myTranslate}}<span class="red">*</span></label>
                                <textarea id="message" type="text" class="form-control" ng-model="form.message"/>
                                <field-error errors="errors.message"/>
                                <p>{{::'PERMIT_TEXT_3'|myTranslate}}</p>
                            </div>
                        </div>
                        <div class="form-group animate bounceInLeft text-center">
                            <button class="btn btn-success" ng-click="permitCtrl.send()">{{::'SEND'|myTranslate}}</button>
                        </div>
                    </form>
                    <div class="panel panel-success" ng-if="!formOpen">
                        <div class="panel-heading"><h3 class="panel-title">{{::'YOUR_MESSAGE_WAS_SEND'|myTranslate}}</h3></div>
                        <div class="panel-body">{{::'OUR_MANAGER_WILL_BE_CONNECT_YOU'|myTranslate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>