<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph form-add animate fadeInRight">
            <div class="row x_title"><h3>Категории постов</h3></div>
            <div class="form-group animate bounceInLeft text-right">
                <button ui-sref="post_category_item" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Добавить
                </button>
            </div>
            <br/>

            <div grid-data id='grid1' grid-options="gridOptions" grid-actions="gridActions">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="st-sort-disable">
                            Название
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr grid-item>
                        <td width="30%" ng-bind="item.name"></td>
                        <td>
                            <button ui-sref="post_category_item({id:item.id})" class="btn btn-primary"><i
                                    class="fa fa-pencil"></i></button>
                            &nbsp;
                            <button class="btn btn-danger" ng-click="delete(item.id)"><i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group animate bounceInLeft text-right col-xs-12">
                <button ui-sref="post_category_item" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>