<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph form-add animate fadeInRight">
            <p>
                <a ui-sref="site({id:siteId})"><i class="fa fa-chevron-left"></i> Назад</a>
            </p>
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Раздел</h3></div>
                <div class="panel-body">
                    <div ng-show="!editformSectionIsOpen">
                        <div class="form-group">
                            <label for="name">Название:</label>
                            <br/>
                            {{model.name}}&nbsp;<a ng-click="editformSectionIsOpen = !editformSectionIsOpen"><i
                                class="fa fa-edit"></i> </a>
                        </div>
                    </div>
                    <form ng-show="editformSectionIsOpen" class="product-form">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body" id="according01">
                                    <div class="form-group">
                                        <label for="name">Название:</label>
                                        <input type="text" class="form-control" required id="name"
                                               ng-model="model.name">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="id" ng-model="model.id">
                        </div>
                        <div class="form-group animate bounceInLeft">
                            <button class="btn btn-info" ng-click="editformSectionIsOpen = !editformSectionIsOpen">
                                Скрыть
                            </button>&nbsp;
                            <button class="btn btn-success" ng-click="saveSection()">Сохранить раздел</button>
                        </div>
                    </form>
                    <div class="text-right">
                        <a class="btn btn-default" ng-click="showKeyWord = !showKeyWord">
                            <i class="fa fa-tasks"></i>&nbsp;
                            Ключевые слова </a>
                        <a class="btn btn-default" ng-click="showSubSection = !showSubSection">
                            <i class="fa fa-folder"></i>&nbsp;Вложенные разделы </a>
                    </div>
                </div>
            </div>

            <div ng-show="showSubSection" class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Вложенные разделы</h3></div>
                <div class="panel-body">
                    <div class="form-group animate bounceInLeft text-right">
                        <button ng-click="formAddSubSectionIsOpen = !formAddSubSectionIsOpen"
                                class="btn btn-success btn-sm">
                            <i lass="fa fa-plus"></i>Добавить раздел
                        </button>
                    </div>
                    <br/>
                    <div ng-show="formAddSubSectionIsOpen">
                        <form class="animate fadeInDown product-form">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="name">Название:</label>
                                            <input type="text" class="form-control" required
                                                   ng-model="subModel.name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group animate bounceInLeft">
                                <button type="button" class="btn btn-info"
                                        ng-click="formAddSubSectionIsOpen = !formAddSubSectionIsOpen">Скрыть
                                </button>&nbsp;
                                <button class="btn btn-success" ng-click="saveSubSection()">Сохранить</button>
                            </div>
                        </form>
                    </div>
                    <div ng-if="gridSubOptions.data.length">
                        <div grid-data id='grid2' grid-options="gridSubOptions" grid-actions="gridActions">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="st-sort-disable">Название</th>
                                    <th class="st-sort-disable">Ключ. слов</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr grid-item>
                                    <td width="60%"><a ui-sref="section({id:siteId,sid:item.id})"
                                                       ng-bind="item.name"></a></td>
                                    <td width="20%" ng-bind="item.count"></td>
                                    <td class="text-center">
                                        <button ui-sref="keyword({id:model.id})" class="btn btn-primary"><i
                                                class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger" ng-click="deleteSection(item.id)"><i
                                                class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br/>
                    </div>
                    <div ng-if="!gridSubOptions.data.length">
                        <div class="text-center"><i>Под разделов нет</i></div>
                    </div>
                </div>
            </div>

            <div ng-show="showKeyWord" class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Ключевые слова</h3></div>
                <div class="panel-body">
                    <div class="form-group animate bounceInLeft text-right">
                        <button ng-click="formAddSectionIsOpen = !formAddSectionIsOpen" class="btn btn-success btn-sm">
                            <i
                                    class="fa fa-plus"></i>
                            Добавить ключевое слово
                        </button>
                    </div>
                    <br/>
                    <div ng-if="formAddSectionIsOpen">
                        <form class="animate fadeInDown product-form">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a id="one-tab" role="tab"
                                                       ng-click="changeFormAddKeywordTypeOne(true)" data-toggle="tab"
                                                       aria-expanded="true">Одиночная вставка</a>
                                                </li>
                                                <li role="presentation" class="">
                                                    <a role="many-tab" id="profile-tab"
                                                       data-toggle="tab" ng-click="changeFormAddKeywordTypeOne(false)"
                                                       aria-expanded="false">Групповая вставка</a>
                                                </li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div ng-if="formAddKeywordTypeOne" role="tabpanel"
                                                     class="tab-pane active in" id="tab_content1"
                                                     aria-labelledby="one-tab">
                                                    <div class="form-group col-xs-6">
                                                        <label for="name">Название:</label>
                                                        <input type="text" class="form-control" required
                                                               ng-model="keyModel.name">
                                                    </div>
                                                    <div class="form-group col-xs-6">
                                                        <label for="name">Значение:</label>
                                                        <input type="text" class="form-control" required
                                                               ng-model="keyModel.value">
                                                    </div>
                                                </div>
                                                <div ng-if="!formAddKeywordTypeOne" role="tabpanel"
                                                     class="tab-pane active in" id="tab_content2"
                                                     aria-labelledby="many-tab">
                                                    <div class="form-group col-xs-12">
                                                        <label for="name"><label for="text">Значение:</label></label>
                                                        <textarea id="text" class="form-control col-xs-12"
                                                                  style="min-height: 100px" required
                                                                  ng-model="keyModel.list"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group animate bounceInLeft">
                                <button type="button" class="btn btn-info"
                                        ng-click="formAddSectionIsOpen = !formAddSectionIsOpen">Скрыть
                                </button>&nbsp;
                                <button class="btn btn-success" ng-click="saveKey()">Сохранить</button>
                            </div>
                        </form>
                    </div>

                    <div grid-data id='grid1' grid-options="gridOptions" grid-actions="gridActions">
                        <div ng-if="gridOptions.data.length">
                            <div class="col-md-9 text-right">
                                <form class="form-inline pull-right margin-bottom-basic">
                                    <div class="form-group">
                                        <grid-pagination max-size="5"
                                                         boundary-links="true"
                                                         class="pagination-sm"
                                                         total-items="paginationOptions.totalItems"
                                                         ng-model="paginationOptions.currentPage"
                                                         ng-change="reloadGrid()"
                                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                                    </div>
                                    <div class="form-group items-per-page">
                                        <label for="itemsOnPageSelect1">Items per page:</label>
                                        <select id="itemsOnPageSelect1" class="form-control input-sm"
                                                ng-init="paginationOptions.itemsPerPage = '100'"
                                                ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                            <option>10</option>
                                            <option>25</option>
                                            <option>50</option>
                                            <option>100</option>
                                            <option>200</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="st-sort-disable"></th>
                                <th class="st-sort-disable" sortable="name" class="sortable">Название</th>
                                <th class="st-sort-disable" sortable="count" class="sortable">Значение</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr grid-item>
                                <td width="5%" ng-bind="$index + 1"></td>
                                <td width="55%" ng-bind="item.name"></td>
                                <td width="20%" class="text-right" ng-bind="item.value"></td>
                                <td class="text-center">
                                    <button class="btn btn-danger" ng-click="delete(item.id)"><i
                                            class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    <div class="form-group animate bounceInLeft text-right">
                        <button ng-click="formAddSectionIsOpen = !formAddSectionIsOpen"
                                class="btn btn-success btn-sm">
                            <i class="fa fa-plus"></i>
                            Добавить ключевое слово
                        </button>
                    </div>
                </div>
                <div ng-if="!gridOptions.data.length">
                    <div class="text-center"><i>Список ключевых слов пуст</i></div>
                </div>
            </div>
        </div>
    </div>
</div>