<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div page-title="MY_TOURS" class="animate bounceInDown"></div>
        <div class="clearfix"></div>
        <div ng-if="!isLoaded" preloader></div>
        <div ng-if="isLoaded" class="x_panel animate bounceInLeft">
            <div class="x_content">
                <div ng-if="!toursCtrl.gridOptions.data.length">
                    <div empty-list="{{::'YOU_DONT_HAVE_TOURS'|myTranslate}}"></div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{::'DO_YOU_WONT_ADD'|myTranslate}}</h3>
                        </div>
                        <div class="panel-body">
                            {{::'YOU_CAN_ADD_NOW'|myTranslate}}
                        </div>
                        <div class="panel-footer text-center">
                            <a class="btn btn-success"><i class="fa fa-plus-circle"></i> {{::'ADD_NOW'|myTranslate}}</a>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-wrapper">
                    <div ui-grid="toursCtrl.gridOptions" ui-grid-auto-resize>
                    </div>
                    <div in-grid="toursCtrl.gridOptions"></div>
                </div>

                <pagination-block ng-if="toursCtrl.gridOptions.data.length > paginationOptions.itemsPerPage"
                                  pagination-options="paginationOptions" reload-grid="reloadGrid"></pagination-block>
                <grid-add-button title="ADD"/>

            </div>
        </div>
    </div>
</div>